.headerContainer {
  height: 6, 5625rem;
}

.headerContent {
  max-width: 720px;
  height: 6.5625rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  a {
    transition: filter 0.2s;
  }

  a:hover {
    filter: brightness(0.8);
  }
}
